@charset "utf-8";
/* CSS Document */

html, body, div, form, fieldset, legend, label, ul, li, h1, h2, h3, h4, h5, h6 {margin:0;padding:0;border:0px;list-style:none;}

body {
	font-family:"Lucida Sans Unicode", Verdana, Arial;
	font-size:12px;
	color:#666;
	background:url(../images/interface/main_bg.jpg) center top no-repeat;
}
#leftColumn h2.alt {
	color:#900;
	margin:-20px 0 10px 0;
	font-size:22px;
}
h1 {
	font-size:22px;
	color:#900;
	margin:-20px 0 10px 0;
}
h3 {
	color:#900;
	font-size:24px;
}
#outer-wrapper {
	margin:0 auto;
	width:1016px;
	height:auto;
	display:block;
	position:relative;
}
#rounded-top {
	width:1016px;
	height:127px;
	display:block;
	background:url(../images/interface/header-bg.png) center bottom no-repeat;
	float:left;
	clear:both;
	position:relative;
}
#rounded-top img {
	position:absolute;
	top:28px;
	left:38px;
}
#rounded-top h1 {
	position:absolute;
	top:60px;
	left:400px;
	font-size:22px;
	color:#fff;
}
#rounded-body {
	width:1016px;
	height:auto;
	display:block;
	background:url(../images/interface/body-bg.png) center top repeat-y;
	float:left;
	clear:both;
	position:relative;
}
#rounded-bottom {
	width:1016px;
	height:56px;
	display:block;
	background:url(../images/interface/footer-bg.png) center top no-repeat;
	float:left;
	clear:both;
	text-align:center;
}
#rounded-bottom h2 {
	color:#fff;
	font-size:16px;
	font-weight:normal;
	margin:8px 0 0 0;
}
#nav {
	width:auto;
	height:auto;
	position:absolute;
	top:10px;
	left:40px;
}
#nav li {
	width:auto;
	height:auto;
	list-style:none;
	float:left;
	display:block;
	padding:1px 10px;
	border-right:1px solid #900;
}
#nav li.no-split {border-right:none;}
#nav li a {font-size:12px;font-weight:normal;text-decoration:none;color:#900;}
#nav li a:hover {text-decoration:none;color:#999;}
#main-content {position:relative;}
#leftColumn {
	width:520px;
	height:auto;
	display:block;
	float:left;
	margin:40px 20px 20px 50px;
	position:relative;
}
.slider {
	width:540px;
	height:165px;
	float:left;
	display:block;
	clear:both;
	position:relative;
}
.text {
	float:left;
	display:block;
	width:520px;
	height:auto;
	margin:5px 0 0 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
.text ul {margin:10px 0 0 10px;padding:0px;}
.text li {
	height:auto;
	font-size:14px;
	margin:5px 0;
	list-style:none;
	background:url(../images/interface/tick.png) left center no-repeat;
	padding-left:20px;
	color:#333;
}
#rightColumn {
	width:362px;
	height:auto;
	float:left;
	display:block;
	margin:40px 0 20px 5px;
}
.call-us {
	width:362px;
	height:96px;
	float:left;
	display:block;
	/*background:url(../images/interface/call-us-bg.png) left top no-repeat;*/
	position:relative;
	margin:18px 0 0 0;
}
.call-us p {
	font-size:34px;
	position:absolute;
	letter-spacing:-2px;
	top:11px;
	left:20px;
	color:#900;
}
#rightColumn #formContainer {
	width:366px;
	height:319px;
	float:left;
	display:block;
	background:url(../images/interface/form-bg.png) left top no-repeat;
	margin:25px 0 0 0;
	/*border-radius:5px;
	-moz-border-radius:5px;*/
}
#rightColumn #formContainer h2 {
	width:316px;
	font-size:14px;
	color:#900;
	border-bottom:1px solid #999;
	padding-bottom:5px;
	margin:15px 0 15px 22px;
}
#rightColumn #formContainer span {
	float:left;
	display:block;
	clear:both;
	margin:0 0 5px 22px;
	height:27px;
	width:auto;
}
#rightColumn #formContainer span label {
	float:left;
	display:block;
	color:#333;
	width:95px;
	padding:7px 0 0 0;
}
#rightColumn #formContainer span label em {color:#900;font-style:normal;}
#rightColumn #formContainer span input[type="text"] {
	float:left;
	display:block;
	width:213px;
	border:1px solid #999;
	border-radius:3px;
	-moz-border-radius:3px;
	padding:3px;
}
#rightColumn #formContainer span input[type="text"]:focus {
	background-color:#f4ecd1;
	outline:none;
}
#rightColumn #formContainer #notice {
	width:230px;
	height:auto;
	float:left;
	display:block;
	color:#666;
	font-size:10px;
	margin:7px 16px 0 22px;
}
#rightColumn #formContainer #notice em {
	font-style:normal;
	color:#900;
}
#footer {
	width:1016px;
	height:auto;
	float:left;
	display:block;
	clear:both;
	margin:0 0;
}
#copyright {
	float:left;
	display:block;
	clear:left;
	width:400px;
	height:auto;
	color:#666;
	font-size:10px;
	margin:0px -30px 20px 30px;
}

#copyright strong {
	font-weight:normal;
	color:#333;
}
#copyright a img {border:none;}

#associations,#others {
	display:block;
	width:auto;
	height:42px;
	margin:0px 30px 0px 0px;
}
#others {margin:10px 30px 20px 0}

#associations img,#others img {
	margin:0px 0px 0px 20px;
	border:none;
	float:right;
	display:block;
}
a.link {color:#900;text-decoration:underline;font-size:14px;}
a.link:hover {color:#999;text-decoration:none;font-size:14px;}
.mini-nav {
	position:absolute;
	top:6px;
	right:20px;
	margin:0 20px 0 0;
	padding:0;
	font-size: 15px;
}
.mini-nav li {
	float:left;
	width:auto;
	height:18px;
	font-size:12px;
	color:#900;
	margin:0 15px 0 0;
}
.mini-nav li a {color:#900;text-decoration:none; font-size: 15px;}
.mini-nav li a:hover {color:#900;text-decoration:underline;}
#social-icons {
	width:230px;
	height:31px;
	border:1px solid #bbb;
	float:left;
	display:block;
	padding:0px 4px;
	clear:both;
	background:#fff;
	position:relative;
	margin:0 0 10px 0;
	border-radius:5px;
	-moz-border-radius:5px;
}
#social-icons ul {position:absolute;top:5px;right:-12px;width:165px}
#social-icons ul li {
	width:22px;
	height:22px;
	display:inline-block;
	margin:0 6px 0 0;
	list-style:none;
}
#social-icons p {
	width:68px;
	height:23px;
	margin:-2px 0;
	border-right:1px solid #bbb;
	padding:10px 0 0 2px;
}
#social-networks {
	float:left;
	width:auto;
	height:auto;
	margin:12px 0 -10px 25px;
	position:relative;
}
#social-networks iframe {background:none;}
a.google-plus {
	width:90px;
	height:21px;
	float:left;
	display:block;
	position:absolute;
	top:0;
	left:158px;
	text-decoration:none;
	color:#666;
}
a.google-plus img {float:left;display:block;margin:0 4px 0 0;}
a.google-plus span {
	width:auto;
	height:19px;
	font-size:11px;
	display:block;
	background:#fff;
	border:1px solid #ccc;
	border-radius:3px;
	text-align:center;
	padding:0 5px;
	margin:0;
	float:left
}
.hreview-aggregate {display:none;}

.trustpilot {
  position: absolute;
  left: 36px;
  }